<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <title>Document</title>
    <style>
        form{
            margin-left: 50px;
            transition: 0.3s;
        }
    </style>
</head>
<body>
    <div id="panel">         
        <v-app>
            <v-container>

            </v-container>
            <v-container>
                <v-btn large color="primary" @click="status=true">Add An Event</v-btn>
            </v-container>
            <v-container>
                <form v-if="status===true">
                        <v-text-field
                        
                          v-model="name"
                          v-validate="'required|max:20'"
                          :counter="20"
                          :error-messages="errors.collect('name')"
                          label="Name"
                          data-vv-name="name"
                          required
                        ></v-text-field>
                        <v-text-field
                          v-model="email"
                          v-validate="'required'"
                          :error-messages="errors.collect('email')"
                          label="Description"
                          data-vv-name="email"
                          required
                        ></v-text-field>
                        <v-select
                          v-model="select"
                          v-validate="'required'"
                          :items="items"
                          :error-messages="errors.collect('select')"
                          label="Select"
                          data-vv-name="select"
                          required
                        ></v-select>
                        <v-text-field
                            v-if="select==='Own'"
                            v-model="own"
                            v-validate="'required'"
                            :error-messages="errors.collect('own')"
                            label="Own Category"
                            data-vv-name="own"
                            required
                        ></v-text-field>
                        <v-checkbox
                          v-model="checkbox"
                          v-validate="'required'"
                          :error-messages="errors.collect('checkbox')"
                          value="1"
                          label="You confirm that this event is not fake. If it is fake you are asshole"
                          data-vv-name="checkbox"
                          type="checkbox"
                          required
                        ></v-checkbox>
                    
                        <v-btn @click="submit">Add</v-btn>
                        <v-btn @click="clear">clear</v-btn>
                        <v-btn @click="status=false">Close</v-btn>
                </form>
            </v-container>
        </v-app>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="path/to/vue.js"></script>
    <script src="path/to/vee-validate.js"></script>
    <script>
        Vue.use(VeeValidate);
        new Vue({
            el:'#panel',
            $_veeValidate: {
                validator: 'new'
            },
            data:{
                status:false,
                name: '',
                email: '',
                own:'',
                select: null,
                items: [
                    'Football⚽',
                    'Basketball🏀',
                    'Party(With Drink)🍻',
                    'Party(No Drink)🎉',
                    'Own',

                ],
                checkbox: null,
                dictionary: {
                    attributes: {
                    email: 'Description'
                    // custom attributes
                    },
                    custom: {
                    name: {
                        required: () => 'Name can not be empty',
                        max: 'The name field may not be greater than 20 characters'
                        // custom messages
                    },
                    select: {
                        required: 'Select field is required'
                    },
                    own:{
                        required:()=>'You have choosen own category. Please, fill the input or choose another category'
                    }
                    }
                }
            },
            mounted () {
                this.$validator.localize('en', this.dictionary)
            },

            methods: {
                submit () {
                    this.$validator.validateAll()
                },
                clear () {
                    this.name = ''
                    this.email = ''
                    this.select = null
                    this.checkbox = null
                    this.own=null
                    this.$validator.reset()
                }
            }
        });
    </script>
</body>
</html>